<h1>Edit</h1>

<form action='/users/edit' method='POST'>
    <div>
        <label for='PostTitle'>Title: </label>
        <input type='text' id='PostTitle' name='PostTitle' />
    </div>
    <div>
        <label for='PostBody'>Body: </label>
        <input type='text' id='PostBody' name='PostBody' />
    </div>
    <div>
        <button type='submit'>Save</button>
    </div>

</form>

<form action='/users/profile' method='GET'>
    <button type='submit'>Back to Profile</button>
</form>